@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Define the hover effect */
.hover-effect:hover {
  /* Add your desired styles for the hover effect here */
  /* For example, change the background color */
  background-color: #f0f0f0; /* Change to your preferred color */
  /* You can add more styles as needed */
}

.hover-scale:hover {
  transform: scale(1.1); /* Scale the element up by 5% when hovered */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
  
}

.hover-background:hover {
  @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
  transition: background 0.2s ease; /* Add a smooth transition effect */
  
}
